<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>toDoList</title>
    <link rel="stylesheet" href="/public/main.css" type="text/css">
</head>
<body>
<div class="date">
    <h1><%= todayDate %></h1>
</div>
<ul>
    <li>Buy a watch</li>
    <li>Watch TV</li>
    <li>Play games</li>
    <% for (let i = 0;i < newListItems.length; i++) { %>
        <li><%= newListItems[i] %></li>
    <% } %>
    <form action="/" method="post">
        <input type="text" name="newItem" autocomplete="off">
        <button type="submit">Add</button>
    </form>
</ul>
</body>
</html>